:root {
  --circle-size: clamp(1.5rem, 4vw, 2rem);
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.c-stepper-item {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;
}

.c-stepper {
  padding: 0;
}

.c-stepper-item:before {
  content: "";
  flex: 0 0 var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: #207178;
}

.c-stepper-item:not(:last-child):after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(var(--circle-size) + var(--spacing));
  bottom: var(--spacing);
  /* z-index: -1; */
  transform: translateX(calc(var(--circle-size) / 2));
  width: 2px;
  background-color: #207178;
}

.c-stepper-title {
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.25rem);
  margin-bottom: clamp(0.85rem, 2vmax, 1rem);
}

.c-stepper-desc {
  color: grey;
  font-size: clamp(0.85rem, 2vmax, 1rem);
}

.c-stepper-content {
  max-width: 700px;
}

.stretch-height {
  height: 100%;
}

body>section:nth-child(even) {
  /* background: #70BDC4; */
  /* background: #BDB08C; */
  background: #EFE0B1;
}

body>section:nth-child(odd) {
  /* background: #EFE0B1; */
  background: #FFF5D6;
}

header nav {
  border-bottom: 2px solid #207178;
}

img {
  max-width: 100%;
}


footer {
  background: #134145;
  color: #eee;
  padding: 2rem 0;
}
footer a {
  color: #eee;
  text-decoration: none;
}

blockquote {
	background:		#f9f9f9;
	border-left:	10px solid #ccc;
	margin:			1.5em 10px;
	padding:		.5em 10px;
}
blockquote:before {
	color:			#ccc;
	content:		open-quote;
	font-size:		4em;
	line-height:	.1em;
	margin-right:	.25em;
	vertical-align:	-.4em;
}
blockquote p {
	display:		inline;
}


.bd-links .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
}

.bd-links a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  color: rgba(0,0,0,0.65);
  text-decoration: none
}

.bd-links a:hover,.bd-links a:focus {
  color: rgba(0,0,0,0.85);
  background-color: rgba(121,82,179,0.1)
}

.bd-links .btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0,0,0,0.65);
  background-color: transparent;
  border: 0
}

.bd-links .btn:hover,.bd-links .btn:focus {
  color: rgba(0,0,0,0.85);
  background-color: rgba(121,82,179,0.1)
}

.bd-links .btn:focus {
  box-shadow: 0 0 0 1px rgba(121,82,179,0.7)
}

.bd-links .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%
}

@media (prefers-reduced-motion: reduce) {
  .bd-links .btn::before {
      transition: none
  }
}

.bd-links .btn[aria-expanded="true"] {
  color: rgba(0,0,0,0.85)
}

.bd-links .btn[aria-expanded="true"]::before {
  transform: rotate(90deg)
}

.bd-links .active {
  font-weight: 600;
  color: rgba(0,0,0,0.85)
}

.bd-sidebar-toggle .bi-collapse {
  display: none
}

.bd-sidebar-toggle:not(.collapsed) .bi-expand {
  display: none
}

.bd-sidebar-toggle:not(.collapsed) .bi-collapse {
  display: inline-block
}


.pages-toggler {
  display: flex;
  justify-content: end;
}

.pages-toggler .bd-sidebar-toggle {
  padding: 4rem;
}

.pages-layout {
  min-height: 640px;
}

/* Layout */
@media (min-width: 992px) {
  .pages-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
  }

  .pages-toggler {
    display: none;
  }
}
